{% extends "base.html" %}
{% block title %}Listado de Pokemon{% endblock title %}
{% block content %}
<p class="p-2">Hola, este es tu primer sitio en Django</p>
<ul class="list-group">
    <div class="row">
        {% for pokemon in pokemons %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="{{ pokemon.picture.url }}" alt="{{ pokemon.name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon.name }}</h5>
                    <p class="card-text">Peso: {{ pokemon.weight }} | Altura: {{ pokemon.height }}</p>
                    <a class="btn btn-primary" href="pokemon/{{pokemon.id}}" role="button">Ver Pokemon</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</ul>
{% endblock content %}
        